/1.exe
/2.exe
/3.exe
/downpyramid.exe
/FOCP Practical 1 doc.docx
/incometax.exe
/n_pyramid.exe
/package-lock.json
/package.json
/practice1.exe
/practice2.exe
/practice4.exe
/practice5.exe
/prime_number.exe
/pyramid.exe